<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
		<add key="DefaultColorPanel" value="56,56,56"/>
		<add key="ColorPanel" value="56,56,56"/>
	</appSettings>
</configuration>